.h10 {height: 10px;background: #ededed;}
.h1 {height: 1px;background: #ededed;}
.color-red{
    background: #b81c25;
    height: 56px; line-height: 56px;
}
header ul{
    height: 100%;
    border:none;
}
.height-search{
    height: 36px;
    line-height: 36px;
    position: relative;
}
.height-search form{
    height: 100%;
}
.height-search input{
    line-height: 36px;
}
.search-Icon{
    color: #666666;
    font-size: 18px;
    position: absolute;
    right: 5px;
    top: 5px;
}
/*.indexTable{*/
    /*border-top: 12px solid #ededed;*/
    /*border-bottom: 12px solid #ededed;*/
/*}*/
.index_table{
    background: white;
    overflow: hidden;
}
.index_table>div{
    padding: 10px 0 0;
}
.index_table>div ul{
    overflow: hidden;
}
.index_table>div li{
    float: left;
    width: 25%;
    text-align: center;
}
.index_table>div li p{
    width: 42px;
    height: 42px;
    border-radius: 21px;
    overflow: hidden;
    text-align: center;
    line-height: 42px;
    margin: 0 auto;
    display: block;
}
.index_table ul.tableListMore{
    height: 0;
    overflow: hidden;
}

.index_table>div li p img{
    vertical-align: middle;
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
}
.index_table>div li span{
    display: inline-block;
    height: 30px;
    font-size: 14px;
}
.index_table>div li:nth-child(4n-3) p{
    background: #1464b0;
}
.index_table>div li:nth-child(4n-2) p{
    background: #e96d40;
}
.index_table>div li:nth-child(4n-1) p{
    background: #25ac24;
}
.index_table>div li:nth-child(4n) p{
    background: #b81c25;
}
.index_table>div.getMoreTable{
    padding: 0;
    text-align: center;
}
.index_table>div.getMoreTable p{
    color: #666666;
    height: 15px;
}
.index_table>div.getMoreTable img{
    display: inline-block;
    width: 15px;
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* Internet Explorer */
    -moz-transform:rotate(90deg); /* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); /* Opera */
}
.index_table>div.getMoreTable img.active{
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* Internet Explorer */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari 和 Chrome */
    -o-transform:rotate(270deg); /* Opera */
}
.articleList{
    background: white;
}
.articleList>div:first-child{
    padding-top: 10px;
}
.articleList>div{
    margin: 0 10px;
    border-bottom: 1px solid #c9c9c9;
    position: relative;
    padding-bottom: 10px;
}
.articleList>div.gzh p{
    margin-right: 117px;
}
.articleList>div.gzh img{
    width: 107px;
    position: absolute;
    right: 0;
    top: 14px;
}
.articleList>div p.title{
    font-size: 16px;
}
.articleList>div p.time{
    font-size: 14px;
    margin-top: 5px;
}
.articleList>div p.time span:last-child{
    margin-left: 15px;
}
.articleList>div p.time span{
    font-size: 13px;
}
.articleList>div p.title{
    line-height: 20px;
    padding-bottom: 5px;
    color: #333333;
}
.articleList>div.gzh{
    min-height: 70px;
    padding-bottom: 10px;
    overflow: hidden;
}
.articleList>div.gzh p.title{
    height: 40px;
    margin-top: 3px;
    margin-bottom: 10px;
    line-height: 20px;
    overflow: hidden;
    -webkit-line-clamp:2;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding-bottom: 0;
}
.articleList>div.gzh p.time{
    vertical-align: bottom;
    margin-top: 0;
}
.articleList>div.jdwd ul{
    overflow: hidden;
}
.articleList>div.jdwd li{
    margin-left: 2%;
    float: left;
    width: 32%;
    text-align: center;
}
.articleList>div.jdwd li:nth-child(3n-2){
    margin-left: 0;
}
.articleList>div.jdwd li img{
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}
.articleList>div.dkjc div{
    width: 100%;
    height: 108px;
    text-align: center;
    line-height: 108px;
    overflow: hidden;
    position: relative;
}
.articleList>div.dkjc div img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top:calc(-36%);
}
.selfName{
    margin: 10px 10px;
    overflow: hidden;
    height:62px;
    background: white;
}
.selfName img{
    height: 100%;
    display: inline-block;
    width: 62px;
    border-radius: 31px;
    margin-right: 10px;
}
.selfName img,.selfName p{
    float: left;
}
.selfName p.integral{
    float: right;
    margin-right: 15px;
    height: 100%;
    line-height: 64px;
}
.selfName p.perMation{
    height: 100%;
    line-height: 30px;
}·
.iconrightto{
    background: url("../image/arrow.png") right center no-repeat;
    background-size: 13px 15px;
}
.searchBtn{
    margin: 10px 10px 0;
}
.searchBtn button{
    width: 28%;
    height:34px;
    text-align: center;
    background: #d73b44;
    color: white;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    padding: 0;
    margin-left: 0;
    margin-right:  0;
    outline: none;
}
.searchBtn button:nth-child(3n-1){
    margin-left: 6.5%;
    margin-right: 6.5%;
}
.assignBtn{
    margin: 0 10px;
}
.assignBtn P{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.assignBtn ul{
    overflow: hidden;
    width: 100%;
    min-height: 240px;
    background: white;
}
.assignBtn ul  li{
    float: left;
    width: 33%;
    text-align: center;
    margin: 10px 0 20px;
    color: #d73b44;
}
.assignBtn ul  li:nth-child(3n-1){
    margin-left: 0.5%;
    margin-right: 0.5%;
    position: relative;
}
.assignBtn ul  li:nth-child(3n-1):before{
    position: absolute;
    content: '';
    height: 15px;
    width: 1px;
    left: 0;
    top: 0;
    background: #e5e5e5;
}
.assignBtn ul  li:nth-child(3n-1):after{
    position: absolute;
    content: '';
    height: 15px;
    width: 1px;
    right: 0;
    top: 0;
    background: #e5e5e5;
}

.loginIndex{
    overflow: hidden;
}
.loginIndex>img{
    display: block;
    margin: 50px auto 40px;
    height: 105px;
}
.loginIndex>div{
    margin:26px  23px;
    height: 37px;
    border-radius: 5px;
    overflow: hidden;
    border:1px solid #b81c25;
    box-shadow: 0 0 1px #e7b3b6 inset;
}
.loginIndex .loginPhone input{
    width: 100%;
    height: 100%;
    text-indent: 20px;
}
.loginIndex .loginCode input{
    width: 100%;
    height: 100%;
    text-indent: 20px;
}
.loginIndex .loginCode{
    position: relative;
}
.loginIndex .loginCode button{
    position: absolute;
    right: 0;
    top: 0;
    width: 125px;
    height: 100%;
    background: #b81c25;
    color: white;
    font-size: 12px;
}
.loginIndex .loginCode button[disabled]{
    background: #8f8f8f;

}
.loginIndex .loginBtn button{
    height: 100%;
    background: #b81c25;
    color: white;
    width: 100%;
    text-align: center;
}
.repair{
    min-height: 100%;
    background: #ededed;
    overflow: hidden;
}
.repair .repairSearch{
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid #d7d7d7;
}
.repair .repairSearch .searchInput{
    position: relative;
    margin: 12px;
    border:1px solid #d73b44;
    border-radius: 5px;
    height: 33px;
    overflow: hidden;
}
.repair .repairSearch .searchInput span.searchIcon{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 32px;
    height: 100%;
    background: white url(../image/searchIconRed.png) center center no-repeat;
    background-size: 19px 20px;
}
.repair .repairSearch .searchInput input{
    display: block;
    height: 100%;
    width: 100%;
    text-indent: 40px;
}
.repair .repairTable{
    margin: 12px 12px 0;
}
.repair .repairTable ul{
    overflow: hidden;

}
.repair .repairTable ul li{
    width: 30%;
    height: 33px;
    line-height: 33px;
    color: white;
    float: left;
    background: #d73b44;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 3px;
}
.repair .repairTable ul li:nth-child(3n-1){
    margin: 0 5%;
}
.repair .repairSort{
    margin: 20px 12px 10px;
}
.repair .repairSort ul{
    overflow: hidden;
}
.repair .repairSort li{
    float: left;
    width: 25%;
    text-align: center;
    margin-bottom: 10px;

}
.repair .repairSort li img{
    display: inline-block;
    max-height: 20px;
}
.repair .repairSort li span{
    color: #666666;
    display: block;
    margin-top: 5px;
}
.repair .answerGet{
    height: 50px;
    background: white;
    margin-top: 10px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
}
.repair .answerGet a{
    display:  table-cell;
    height: 100%;
    position: relative;
    vertical-align: middle;
}
.repair .answerGet a span:first-child{
    padding-top: 5px;
    margin-left: 13px;
    color: #2a2a2a;
}
.repair .answerGet a span{
    display: block;
    height:20px;
    line-height: 20px;
}
.repair .answerGet a span.newAnswer{
    display: inline-block;
    margin-left: 13px;
    color: #666666;
}
.repair .answerGet a span.getNum{
    color: white;
    background: #ce1620;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    right: 13px;
    top: 15px;

}
.repair .faultFind{
    height: 50px;
    background: white;
    margin-top: 10px;
    border-bottom: 1px solid #d7d7d7;
}
.repair .faultFind a{
    display: block;
    height: 100%;
    line-height: 50px;
    text-indent: 13px;
    color: #2a2a2a;
}
#search-input.searchlis{
    width: 100%;
    height:100%;
    padding-left: 25px;
    background: url("../image/searchIconRed.png") 0px center no-repeat;
    background-size: 19px 19px;
}